<content>
  
<md-input-container md-no-float>
  <md-icon class="material-icons lab-icon">person</md-icon>
  <input name="name" ng-model="user.name" required md-maxlength="10" placeholder="Indiquez votre nom"/>
  <div ng-messages="simple.name.$error" ng-show="simple.name.$dirty">
    <div ng-message="required">Merci de saisir un nom</div>
    <div ng-message="md-maxlength">Le nom est trop long!</div>
  </div>
</md-input-container>


  
  
<md-button class="md-primary md-raised" ng-click="closeCreateForm()">close</md-button>
        
  
</content>