<content class="debug" layout-padding>

  <div class="layout-row">
  <div flex>
    #1
  </div>
  <div flex>
    #2
  </div>
  <div flex>
    #3
  </div> 
</div>
<div class="layout-column">
  <div flex>
    #1
  </div>
  <div flex>
    #2
  </div>
  <div flex>
    #3
  </div> 
</div>
  
  
  
<!--form novalidate name="create">
    
  <md-input-container flex="20">
      <md-icon class="material-icons lab-icon">person</md-icon>
      <label>Name</label>
      <input name="name" ng-model="user.name" required md-maxlength="10"/>
      <div ng-messages="create.name.$error" ng-show="create.name.$dirty">
        <div ng-message="required">Merci de saisir un nom</div>
        <div ng-message="md-maxlength">Le nom est trop long!</div>
      </div>
    </md-input-container>

    <md-input-container flex="20">
      <md-icon class="material-icons lab-icon">email</md-icon>
      <label>Email</label>
      <input name="email" type="email" ng-model="user.email" required/>
      <div ng-messages="create.email.$error" ng-show="create.email.$dirty">
        <div ng-message="required">Merci de saisir une adresse mail</div>
        <div ng-message="email">Le champ saisie n'est pas une email !</div>
      </div>
    </md-input-container>

  
</form--> 



  
  
<md-button class="md-primary md-raised" ng-click="closeCreateForm()">close</md-button>
        
  
</content>