<content>
  <form name="formregister" ng-submit="register(formregister)" novalidate>
    <md-input-container class="md-block">
        <label>Name</label>
        <input type="type" name="name" ng-model="user.name" required>
        <div ng-messages="formregister.name.$error" ng-show="formregister.name.$dirty">
          <div ng-message="required">require value</div>
          
        </div>
      </md-input-container>  
  
    <md-input-container class="md-block">
        <label>E-mail</label>
        <input type="email" name="email" ng-model="user.email" required>
        <div ng-messages="formregister.email.$error" ng-show="formregister.email.$dirty">
          <div ng-message="required">required adress mail</div>
          <div ng-message="email">wrong format</div>
        </div>
      </md-input-container>
      
      <md-input-container class="md-block">
        <label>Password</label>
        <input type="password" name="password" ng-model="user.password" required>
        <div ng-messages="formregister.password.$error" ng-show="formregister.password.$dirty">
          <div ng-message="required">required password</div>
        </div>
      </md-input-container>
     
      <md-input-container class="md-block" flex-gt-sm>
        <label>Confirm Password</label>
        <input type="password" name="confirm_password" ng-model="user.confirm_password" required compare-password="user.password" />
        <div ng-messages="formregister.confirm_password.$error" ng-show="formregister.confirm_password.$dirty">
          <div ng-message="required">Password is required.</div>
          <div ng-message="notmatch">Must not match</div>
        </div>
      </md-input-container>

      <div layout="row" layout-align="center center">
        <md-button class="md-raised md-accent md-hue-2 circular-progress-button" type="submit" ng-disabled="formregister.$invalid" >
          <span ng-show="!showSpinner">Register</span>
          <md-progress-circular md-mode="indeterminate" md-diameter="25"  ng-show="showSpinner"></md-progress-circular>
        </md-button>
      </div>

  </form>
  

</content>