<content>
  <form name="form.register" ng-submit="Register()" novalidate>
    <md-input-container class="md-block">
        <label>Name</label>
        <input type="type" name="name" ng-model="user.name" required>
        <div ng-messages="form.register.name.$error" ng-show="form.register.name.$dirty">
          <div ng-message="required">require value</div>
          
        </div>
      </md-input-container>  
    
    <md-input-container class="md-block">
        <label>E-mail</label>
        <input type="email" name="email" ng-model="user.email" required>
        <div ng-messages="form.register.email.$error" ng-show="form.register.email.$dirty">
          <div ng-message="required">required adress mail/div>
          <div ng-message="email">wrong format</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Password</label>
        <input type="password" name="password" ng-model="user.password" required>
        <div ng-messages="form.register.password.$error" ng-show="form.register.password.$dirty">
          <div ng-message="wrongpassword">{{errorMessage}}</div>
          <div ng-message="required">required password</div>
        </div>
      </md-input-container>
      
      <md-input-container class="md-block">
        <label>Password (Confirm)</label>
        <input type="password" name="password2" ng-model="password2" required>
        <div ng-messages="form.register.password.$error" ng-show="form.register.password.$dirty">
          <div ng-message="wrongpassword">{{errorMessage}}</div>
          <div ng-message="required">required password condirm</div>
        </div>
      </md-input-container>

      <div layout="row" layout-align="center center">
        <md-button class="md-raised md-accent md-hue-2 circular-progress-button" type="submit" ng-disabled="form.register.$invalid" >
          <span ng-show="!showSpinner">Login</span>
          <md-progress-circular md-mode="indeterminate" md-diameter="25"  ng-show="showSpinner"></md-progress-circular>
        </md-button>
      </div>

  </form>
  

</content>