.circular-progress-button {
    height: 36px;
}

.circular-progress-button>md-progress-circular {
    margin: auto;
    margin-top: -6px; /* If circular does not appear at the center, change this value. */
}

.circular-progress-button>md-progress-circular path {
    stroke: white;
}
