

<div layout="row" layout-align="center">
  <div flex="30" flex-sm="70" flex-xs="100">
    <md-card>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2 class="md-flex">
            LOGIN TO YOUR ACCOUNT
          </h2>
        </div>
      </md-toolbar>
      <div flex layout="row" layout-margin layout-align="center">
        <img ng-src="{{imagePath}}" class="md-card-image" alt="NodeJS">  
      </div>
      
      <md-card-content>
        
        <!--md-tabs md-dynamic-height md-border-bottom-->
          
        <md-nav-bar md-selected-nav-item="currentNavItem"  nav-bar-aria-label="navigation links">
          <md-nav-item md-nav-sref="auth.login"  name="login" >Login</md-nav-item>
          <md-nav-item md-nav-sref="auth.register" name="register" >Register</md-nav-item>

        </md-nav-bar>
        <div ui-view layout="column"></div>  
        
        
      
      </md-card-content>
    
    </md-card>
    <code>{{currentNavItem}}</code>
    
  </div>
  
</div>