<div layout="row" layout-align="center">
  <div flex="30">
    <md-card>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2 class="md-flex">
            LOGIN TO YOUR ACCOUNT
          </h2>
        </div>
      </md-toolbar>
      <div flex layout="row" layout-margin layout-align="center">
        <img ng-src="{{imagePath}}" class="md-card-image" alt="NodeJS">  
      </div>
      
      <md-card-content>
        <md-tabs md-dynamic-height md-border-bottom>
          <!-- Login Form ---->
          <md-tab label="login">
            <form name="simple" novalidate >
              <md-input-container class="md-block">
                <label>E-mail</label>
                <input type="email" ng-model="user.email" required>
              </md-input-container>

              <md-input-container class="md-block">
                <label>Password</label>
                <input type="password" ng-model="user.password" required>
              </md-input-container>

              <md-button class="md-raised md-primary"  ng-click="login(user)">Login</md-button>

            </form>
          
          </md-tab>
          <md-tab label="register">
            <!-- Register Form ---->
            <form ng-submit="Register()">
              <md-input-container class="md-block">
                <label>E-mail</label>
                <input type="email" ng-model="user.name" required>
              </md-input-container>

              <md-input-container class="md-block">
                <label>Password</label>
                <input type="password" ng-model="user.password" required>
              </md-input-container>
              
              <md-input-container class="md-block">
                <label>Password</label>
                <input type="password" ng-model="user.password" required>
              </md-input-container>
              
              

              <md-button class="md-raised md-primary" type="submit">Login</md-button>

            </form>
          </md-tab>
        
        </md-tabs>
        
        
      
      </md-card-content>
    
    </md-card>
    
  </div>
  
</div>