<content layout="row">
  <div flex>
    <input type="text" ng-model="message" placeholder="Enter message">
    <p message-attrb="{{message}}" on-click-console="showMessage(arg)"  >
      <p ng-click="onClickInfo()">
        Partie injecté dans la transclusion <b>{{simple}}</b>
      </p>

    </p>
  </div>

  <div flex>
    <accordion>
      <expander title='{{expand.title}}' ng-repeat="expand in expanders">{{expand.message}}</expander>
    </accordion>
  </div>


  <div flex>
    <form name="passwordForm">
      <md-input-container class="md-block" flex-gt-sm>
        <label>Password</label>
        <input type="password" name="password" ng-model="password" required />
        <div ng-messages="passwordForm.password.$error" role="alert" class="form-errors first-name-error">
          <div ng-message="required">Password is required.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block" flex-gt-sm>
        <label>Confirm Password</label>
        <input type="password" name="confirm_password" ng-model="confirm_password" required compare-to="password" />
        <div ng-messages="passwordForm.confirm_password.$error" role="alert" class="form-errors first-name-error">
          <div ng-message="required">Password is required.</div>
          <div ng-message="notmatch">Must not match</div>
        </div>
      </md-input-container>
      
    </form>
    <code>{{confirm_password}}</code>
    
  </div>
</content>
<content layout="row">
  <iframe id="forum_embed"
  src="javascript:void(0)"
  scrolling="no"
  frameborder="0"
  width="900"
  height="700"
          flex>
</iframe>
<script type="text/javascript">
  document.getElementById('forum_embed').src =
     'https://groups.google.com/forum/embed/?place=forum/cs-residence-greenwood'
     + '&showsearch=true&showpopout=true&showtabs=false'
     + '&parenturl=' + encodeURIComponent(window.location.href);
</script>

</content>
