<div layout="row" layout-align="center">
  <div flex="30" >
    <md-card>
      <md-toolbar class="md-warn" >
        <div class="md-toolbar-tools">
        <h2>Oops Error !</h2>
        </div>
      </md-toolbar> 
      
      <md-card-content>
        <h4>{{status}}</h4>
        <md-divider></md-divider>
        <p>Please try the following options instead.</p>
      </md-card-content>
      
      <md-card-actions layout="row" layout-align="space-around center">
        <md-button ui-sref="home" class="md-primary">Home</md-button>
        <md-button ui-sref="about" class="md-primary">About</md-button>
        
      </md-card-actions>
      
    </md-card>
    
  </div>
  
</div>