<content>
  <md-nav-bar md-selected-nav-item="currentNavItem"  nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-sref="users.list"  name="users.list" value="users.list">List Users</md-nav-item>
      <md-nav-item md-nav-sref="users.detail" name="detail" value="detail" ng-show="show_state=='detail'">Detail User</md-nav-item>
      <md-nav-item md-nav-sref="users.create" name="users.create" value="users.create" ng-show="show_state=='users.create'">Create User</md-nav-item>

  </md-nav-bar>
  <div ui-view layout="column"></div>  

</content>